img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    scale: 20%;
}
#logo{
    border: 1px solid black;
    background: white;
}
nav{
    text-align: center;
    border: 15px solid yellow;
    background: yellow;
}
#feature{
    text-align: center;
    border: 15px solid blue;
    background: blue;
}
#container {
    text-align: center;
    float: left;
    width: 30%;
    padding: 10px;
    height: auto;
    column-gap: 1em;
    border: black solid;
}
#container-parent{
    content: "";
    display: table;
    clear: both;
}
footer{
    text-align: center;
    border: 15px solid green;
    background: green
}